@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Cantarell:ital,wght@1,700&family=Niconne&display=swap');

* {
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    background-color: #005689;   
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.container {
    flex-direction: column;
    background-color: red;
    padding: 0.5em;
    border: 5px solid black;
}

h1 {
    font-family: 'Cantarell', sans-serif;
    margin-bottom: 0;
    color: white;
    font-size: 2.5em;
}

div {
    margin: 0;
    padding: 0;
}

.big-container {
    width: 30em;
    height: 30em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

#reset-btn, #color-btn {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: #233142;
    background-color: #e3e3e3;
    width: 8em;
}

#btn-container {
    display: flex;
    gap: 3em;
}

.left-btns, .right-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.size-btn {
    border-radius: 100px;
    width: 6em;
    height: 6em;
    color: red;
    font-size: 1.5em;
    border: 3px solid red;
}

#top-btn {
    margin-bottom: 2em;
}

#bttm-btn {
    display: flex;
    gap: 2em;
}