@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

* {
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    gap: 2em;
    background-color: #233142;
}

h1 {
    margin-bottom: 0;
    color: #e3e3e3;
}

div {
    margin: 0;
    padding: 0;
}

.big-container {
    width: 30em;
    height: 30em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

button {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: #233142;
    background-color: #e3e3e3;
    width: 8em;
}

#btn-container {
    display: flex;
    gap: 3em;
}